# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear

# Directorios de compilación
/build/
/dist/
/out/
/target/

# Archivos de log y temporales
*.log
hs_err_pid*
replay_pid*

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbproject/configurations.xml
/nbproject/*-private.xml

# =========================
# IDEs
# =========================
/.idea/
/.vscode/
*.iml

# =========================
# Archivos del sistema
# =========================
.DS_Store
