# =========================
# Java
# =========================
*.class

*.war
*.ear

# =========================
# Directorios de compilación
# (en cualquier nivel)
# =========================
**/build/
**/dist/
**/out/
**/target/

# =========================
# NetBeans
# =========================
**/nbproject/private/
**/nbproject/configurations.xml
**/nbproject/*-private.xml

# =========================
# IDEs
# =========================
**/.idea/
**/.vscode/
*.iml

# =========================
# Archivos del sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs y temporales
# =========================
*.log
hs_err_pid*
replay_pid*
